# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app


build/
device/
prebuilt/
*.user
*__PATH__*
build-desktop/
core
cscope.*
debug
release
*~
*.pyc
*.autosave
